*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


body{
    background-color: #C0C0C0;
    overflow-x: hidden;
}

.header{
    width: 100%;
    background: #11273D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3%;
}
.buttons{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: -12%;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    direction: rtl;
    font-size: 130%;
}

img{
    padding-top: 3%;
}

a{
    width: 100%;
    text-decoration: none;
    color: #EB9E59;
}
.logo{
    width: 80%;
    color:#EB9E59 ;
    margin-left: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    width: 90%;
    background: #11273D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding: 0 3% 0 3%;
}

.title h2{
    text-align: center;
    text-decoration: underline;
    color: #EB9E59;
    font-size: 180%;
    font-family: 'Stick No Bills', sans-serif;
    padding: 3% 0 2% 0 ;
}

.title h4{
    text-align: center;
    text-decoration: none;
    color: #EB9E59;
    font-size: 90%;
    font-family:sans-serif;
    padding: 3% 0 3% 0 ;
}

.data{
    text-align: justify;
    margin: 0 0 0 2%;
    padding: 2% 0 3% 0;
    font-family: sans-serif;
    font-size: 70%;
    color: #EB9E59;
}

.p1{
    text-align: justify;
    text-indent: 5%;
    margin: 5% 7% 0 7%;
    font-family: sans-serif;
    font-size: 110%;
}

.text h2{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 150%;
    margin: 13% 0 0 0;
    text-decoration: underline;
}

.tigereheineken{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5% 0 0 3%;
}

.tigereheineken img{
    border: 5px solid #EB9E59;
    padding: 0 0 0 0;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tigereheineken p{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    margin: 0 0 5% 0;
}

.banner{
    background-color: #EB9E59;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10%;
    padding: 0 0 5% 0;
}

.banner h1{
    font-family: 'Rampart one', sans-serif;
    font-size: 160%;
    text-align: center;
    color: white;
    padding: 3% 0 0 0;
    margin: 3% 0 0 0;
    
}

hr{
    background-color: white;
    border: none;
    height: 2px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

.banner p{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 130%;
    color: white;
    text-align: justify;
    text-indent: 5%;
    margin: 10% 8% 0 8%;
}

.column-1 li{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 130%;
    color: white;
    text-align: justify;
    text-indent: 5%;
    margin: 3% 10% 0 10%;
}

.column-2 li{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 130%;
    color: white;
    text-align: justify;
    text-indent: 5%;
    margin: 3% 10% 0 10%;
}

.banner img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 8%;
    border: 3px solid #11273D;
    padding: 0 0 0 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fonte p{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 90%;
    color: white;
    padding: 0 0 0 010%;
    margin: 0 0 0 0;
}

.title-footer{
    width: 90%;
    background: #11273D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    margin: 5% 0 5% 0;
    padding: 1% 0 1% 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.title-footer h2{
    text-align: justify;
    text-indent: 5%;
    font-family: 'Stick No Bills', sans-serif;
    color: #EB9E59 ;
    font-size: 130%;
    margin: 3% 3% 5% 3%;
    font-weight: 300;
}

.title-footer a{
    color: #11273D;
    padding-bottom: 2%;
    padding-top: 1%;
    text-decoration: none;

}

.button-instagram{
    width: 80%;
    background-color: #EB9E59;
    margin: 2% 3% 2%  10%;
    text-align: center;
    text-decoration: none;
    display: block; 
    position: relative;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(216, 211, 211, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.footer{
    width: 100%;
    background-color: #11273D;
    padding: 2% 0 1% 0 ;
    text-align: center;
}

.message{
    font-size: 90%;
    font-family: 'Stick No Bills', sans-serif;
    color: white;
}

.footer a{
    color: #EB9E59;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 767px){

    .button{
        
        font-size: 100%;
    }

    a:hover{
        color: #C0C0C0;
    }

    .title{
        width: 70%;
        background: #11273D;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }

    .title h2{
        text-align: center;
        text-decoration: underline;
        color: #EB9E59;
        font-size: 300%;
        font-family: 'Stick No Bills', sans-serif;
        padding: 3% 0 2% 0 ;
    }
    
    .title h4{
        text-align: center;
        text-decoration: none;
        color: #EB9E59;
        font-size: 140%;
        font-family:sans-serif;
        padding: 3% 0 3% 0 ;
    }
    
    .data{
        text-align: justify;
        margin: 0 0 0 2%;
        padding: 2% 0 3% 0;
        font-family: sans-serif;
        font-size: 100%;
        color: #EB9E59;
    }

    .text p{
        width: 70%;
        text-align: justify;
        text-indent: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
        font-size: 170%;
    }
    
    .text h2{
        text-align: center;
        font-family: 'Stick No Bills', sans-serif;
        font-size: 150%;
        margin: 13% 0 0 0;
        text-decoration: underline;
    }

    .banner{
        background-color: #EB9E59;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 5%;
        border-radius: 5%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 0 0 5% 0;
    }

    .food{
        width: 65%;
        margin: 0 0 0 18%;
        padding: 4% 0 0 0;
    }
    
    .fonte{
        margin: 0 0 0 20%;
    }

    .footer{
        height: 10px;
        position: fixed;
        bottom: 0;
        padding: 1% 0 1% 0 ;
    }
    
    .tigereheineken img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .tigereheineken p{
        font-family: 'Stick No Bills', sans-serif;
        font-size: 100%;
        margin: 0 0 5% 22%;
    }



    .title-footer{
        width: 70%;
        background: #11273D;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        margin: 5% 0 5% 0;
        padding: 1% 0 1% 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
    
    .title-footer h2{
        text-align: center;
        font-family: 'Stick No Bills', sans-serif;
        color: #EB9E59 ;
        font-size: 180%;
        margin: 3% 3% 5% 3%;
        font-weight: 300;
    }
    
    
    
    .button-instagram{
        width: 50%;
        position: relative;
        left: 16%;
        transition-duration: 0.7s;
        padding: 0.5% 0 0 0;
        background-color: #EB9E59;
        margin: 0 0 1% 8%;
        border-radius: 10px;

    }

    .button-instagram a{
        font-size: 180%;
        color: #11273D;
    }

    .button-instagram:hover{
        color: #11273D;
    }

    .button-instagram p{
        font-size: 90%;
        color: #11273D
    }

    .button-instagram:hover {
        background-color: white;
        color: #11273D;
    }

    .fa{
        display: inline-flex;
        margin: 0 0 0 20%;
        color: #11273D;
    }

    .footer{
        height: 10px;
        position: fixed;
        bottom: 0;
        padding: 1% 0 2% 0 ;
    }
}






@media only screen and (max-width: 767px){
    img{
        width: 100%;
        margin-left: -3%;
    }

    .fa{
        display: inline-flex;
        margin: 0 0 0 20%;
    }

    .title-footer a{
        font-size: 100%;
    }

    .button-instagram{
        padding: 1% 0 0 0;
    }

    .button-instagram a{
        font-size: 120%;
    }
    
    .button-instagram p{
        font-size: 90%;
    }
}