*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #C0C0C0;
}

.header{
    width: 100%;
    background: #11273D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button a p{
    display: inline-block;
    margin-left: 4px;
}

img{
    padding-top: 3%;
    margin-bottom: 10px;
}


.logo{
    width: 80%;
    color:#EB9E59 ;
    margin-left: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.banner{
    
    background: #11273D;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 5%;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.banner h1{
    text-align: center;
    color: #C0C0C0;
    font-family: 'Stick No Bills', sans-serif;
}

.banner a{
    color: #11273D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 1%;
    text-decoration: none;
    
}

.img-us{
    max-width: 80%;
    border-radius: 20px;
    border: 3px solid #EB9E59;
}



.button {
    width: 70%;
    background-color: #EB9E59;
    border: none;
    margin: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: block; 
    border-radius: 12px;
    font-size: 16px;
    position: relative;
    bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(216, 211, 211, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.about-us h2{
    text-decoration: underline;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 200%;
}

.about-us p{
    width: 85%;
    margin-left: 7%;
    margin-top: 10%;
    text-align: justify;
    font-family: sans-serif;
    font-size: 120%;
    padding-bottom: 30%;
}

.footer{
    width: 100%;
    background-color: #11273D;
    padding: 2% 0 1% 0 ;
    text-align: center;
}

.message{
    font-size: 90%;
    font-family: 'Stick No Bills', sans-serif;
    color: white;
}

.footer a{
    color: #EB9E59;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .column {
        float: left;
        width: 40%;
        padding-left: 5%;
    }
      
     
    .row:after {
        content: "";
        display: flex;
        clear: both;
    }



    .banner{
        width: 100%;
        margin-top: 3%;
        padding-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .img-us{
        max-width: auto;
        direction: ltr;
        margin-bottom: 0;
        margin-left: 9%;
        margin-right: 3%;
        border-radius: 12px;
        padding-top: 0%;
    }

    .button{
        width: 60%;
        font-size: 90%;
        position: relative;
        left: 9%;
        transition-duration: 0.7s;
    }

    .button:hover {
        background-color: white;
        color: white;
    }

    .about-us{
        padding-left: 10%;
        padding-top: 5%;
    }

    .about-us h2{
        text-decoration: underline;
        text-align: center;
        font-size: 240%;
    }

    .about-us p{
        text-align: justify;
        font-family: sans-serif;
        font-size: 120%;
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
        padding-bottom: 0;
    }

    

}

@media only screen and (max-width: 767px){
    img{
        width: 100%;
        margin-left: -3%;
    }
    
    .img-us{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top:0;
        
    }

    .about-us h2{
        text-align: center;
        padding-top: 9%;
    }
}