*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #C0C0C0;
}

.header{
    width: 100%;
    background: #11273D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3%;
}
.buttons{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: -12%;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    direction: rtl;
    font-size: 130%;
}

img{
    padding-top: 3%;
}

a{
    width: 100%;
    text-decoration: none;
    color: #EB9E59;
}
.logo{
    width: 80%;
    color:#EB9E59 ;
    margin-left: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-pilsen{
    background: #11273D;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3% 3% 3% 3%;
    border: 3px solid #EB9E59;
}

.pilsen h2{
    text-align: center;
    text-decoration: underline;
    font-family: 'Stick No Bills', sans-serif;
    color: #EB9E59;
    margin: 3% 0 0 0;
}

.pilsen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.pilsen p{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 120%;
    color: #EB9E59;
    padding-top:1% ;
    padding-bottom: 2%;
    margin: 3% 0 3% 0;
}

.banner-prateleiras{
    background: #11273D;
    border-radius: 10px;
    border: 3px solid #EB9E59;
    margin: 3% 3% 3% 3%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prateleiras h2{
    text-align: center;
    text-decoration: underline;
    font-family: 'Stick No Bills', sans-serif;
    color: #EB9E59;
    margin: 3% 0 0 0;
}

.prateleiras img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.prateleiras p{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    color: #EB9E59;
    padding-top:1% ;
    padding-bottom: 2%;
    margin: 2% 5% 0 5%;
    margin: 3% 0 3% 0;
}

.banner-Tiger{
    background: #11273D;
    border-radius: 10px;
    border: 3px solid #EB9E59;
    margin: 3% 3% 3% 3%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-Tiger h2{
    text-align: center;
    text-decoration: underline;
    font-family: 'Stick No Bills', sans-serif;
    color: #EB9E59;
    margin: 3% 0 0 0;
}

.banner-Tiger img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.banner-Tiger p{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    color: #EB9E59;
    padding-top:1% ;
    padding-bottom: 2%;
    margin: 2% 5% 0 5%;
    margin: 3% 0 3% 0;
}

.button{
    border-radius: 12px;
    width: 100%;
}

.footer{
    width: 100%;
    background-color: #11273D;
    padding: 2% 0 1% 0 ;
    text-align: center;
}

.message{
    font-size: 90%;
    font-family: 'Stick No Bills', sans-serif;
    color: white;
}

.footer a{
    color: #EB9E59;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}


@media only screen and (min-width: 768px) {
    .button{
        
        font-size: 100%;
    }

    a:hover{
        color: #C0C0C0;
    }
    

    .column1{
        text-align: justify;
        font-family: sans-serif;
        font-size: 120%;
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;
        float: left;
        width: 40%;
        padding-left: 5%;
    }

    .column2{
        text-align: justify;
        font-family: sans-serif;
        font-size: 120%;
        width: 100%;
        margin-left: 0;
        padding-bottom: 5%;
        float: left;
        width: 40%;
        padding-left: 5%;
    }

    .footer{
        height: 10px;
        position: fixed;
        bottom: 0;
        padding: 1% 0 1% 0 ;
    }

}

@media only screen and (max-width: 767px){
    img{
        width: 100%;
        margin-left: -3%;
    }
    
}